{plugins, [
    rebar3_run
]}.

% Common project erlang options.
{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

% Common project dependencies.
{deps, [
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

{relx, [
    {release, {hellgate, "0.1.0"}, [
        hellgate,
        sasl
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {test, [
        {deps, []}
    ]}
]}.
