{deps, [
    {damsel, {git, "https://github.com/valitydev/damsel.git", {branch, "master"}}}
]}.

{plugins, [
    {rebar3_thrift_compiler,
        {git, "https://github.com/valitydev/rebar3_thrift_compiler.git", {tag, "0.4"}}}
]}.

{provider_hooks, [
    {pre, [
        {compile, {thrift, compile}},
        {clean, {thrift, clean}}
    ]}
]}.

{thrift_compiler_opts, [
    {in_dir, "proto"},
    {gen, "erlang:app_namespaces"}
]}.
