% TODO
% This and stubs in `include/` are hacks designed to trick rebar3 to compile `party_state.thrift`
% as part of dmsl «namespace». This is currently not possible with rebar3_thrift_compiler plugin,
% primarily because underlying thrift `erlang` generator lacks consistent understanding of what
% namespace really is. This _should_ be possible though, we (prabably) need to:
% * intepret thrift namespace as Erlang module namespace,
% * drop `app_prefix` option,
% * disallow generating/compiling same thrift modules under multiple Erlang apps,
% * make generator non-recursive by default.

{pre_hooks, [
    {compile, "make src/dmsl_party_state_thrift.erl include/dmsl_party_state_thrift.hrl"},
    {clean, "make clean"}
]}.
