[
    {lager, [
        {error_logger_hwm, 600},
        {handlers, [
            {lager_console_backend, debug}
        ]}
    ]},

    {hellgate, [
        {host, "0.0.0.0"},
        {port, 8022},
        {automaton_service_url, <<"http://machinegun:8022/v1/automaton_service">>},
        {eventsink_service_url, <<"http://machinegun:8024/v1/eventsink_service">>}
    ]}
].
