[
    {lager, [
        {error_logger_hwm, 600},
        {log_root, "/var/log/hellgate"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]}
    ]},

    {hellgate, [
        {ip, "::"},
        {port, 8022},
        {automaton_service_url, <<"http://machinegun:8022/v1/automaton">>},
        {eventsink_service_url, <<"http://machinegun:8022/v1/event_sink">>},
        {provider_proxy_url, <<"http://proxy_vtb:8022/proxy">>}
    ]}
].
