%% NOTE Consider DRYing config in composed services
[
    {opentelemetry, [
        {span_processor, batch},
        {traces_exporter, otlp},
        {sampler,
            {parent_based, #{
                root => always_off,
                remote_parent_sampled => always_on,
                remote_parent_not_sampled => always_off,
                local_parent_sampled => always_on,
                local_parent_not_sampled => always_off
            }}}
    ]},

    {opentelemetry_exporter, [
        {otlp_protocol, http_protobuf},
        {otlp_endpoint, "http://jaeger:4318"}
    ]},

    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{
                    type => standard_io
                },
                formatter => {logger_logstash_formatter, #{
                    log_level_map => #{
                        emergency => 'ERROR',
                        alert => 'ERROR',
                        critical => 'ERROR',
                        error => 'ERROR',
                        warning => 'WARN',
                        notice => 'INFO',
                        info => 'INFO',
                        debug => 'DEBUG'
                    }
                }}
            }}
        ]}
    ]},

    {dmt_api, [
        {repository, dmt_api_repository_v5},
        {migration, #{
            timeout => 360,
            limit => 20,
            read_only_gap => 1000
        }},
        {ip, "::"},
        {port, 8022},
        {default_woody_handling_timeout, 30000},
        {woody_event_handlers, [
            {scoper_woody_event_handler, #{
                event_handler_opts => #{
                    formatter_opts => #{
                        max_length => 1000,
                        max_printable_string_length => 80
                    }
                }
            }}
        ]},
        {transport_opts, #{
            max_connections => 1024
        }},
        {protocol_opts, #{
            % http keep alive timeout in ms
            request_timeout => 60000,
            % Should be greater than any other timeouts
            idle_timeout => infinity
        }},
        % 50Mb
        {max_cache_size, 52428800},
        {health_check, #{
            disk => {erl_health, disk, ["/", 99]},
            memory => {erl_health, cg_memory, [99]},
            service => {erl_health, service, [<<"dominant">>]}
        }},
        {services, #{
            automaton => #{
                url => "http://machinegun:8022/v1/automaton",
                transport_opts => #{
                    pool => woody_automaton,
                    timeout => 1000,
                    max_connections => 1024
                }
            }
        }}
    ]},

    {os_mon, [
        % for better compatibility with busybox coreutils
        {disksup_posix_only, true}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {snowflake, [
        {max_backward_clock_moving, 1000},  % 1 second
        {machine_id, hostname_hash}
    ]},

    {prometheus, [
        {collectors, [default]}
    ]},

    {how_are_you, [
         {metrics_publishers, [
             % {hay_statsd_publisher, #{
             %     key_prefix => <<"dominant.">>,
             %     host => "localhost",
             %     port => 8125
             % }}
         ]}
     ]}
].
